    @font-face {
        font-family: "Montserrat";
        src: url("../Montserrat-Bold.woff2") format("woff2");

    }

    body {
        background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("../background.jpg");
        margin: 0;
        padding: 0;

    }

    @media (min-width: 960px) {

            #header {
                display: flex;
                gap: 80vh;
                width: 100%;
                height: 60px;
                align-items: center;
                justify-content: center;
            }

            #header a {
                text-decoration: none;
                color: white;
                font-size: 26px;
                font-family: "Montserrat";
                background: none;
                opacity: 0.7;
            }

            #header a:hover {
                opacity: 1;
            }

        #top-text {
            width: 500px;
            height: 200px;
            margin-left: 30px;
            margin-top: 50px;
            font-family: "Montserrat";
            color: white;
            font-size: 14px;
        }

        #bottom-text {
            width: 600px;
            height: 200px;
            margin-left: 900px;
            margin-top: 50px;
            font-family: "Montserrat";
            color: white;
            padding: 20px;
            font-size: 14px;
        }

        .quiz-des {
            font-size: 21px;
        }

        #quiz-des {
            font-size: 21px;
            margin-top: 400px;
        }

        #mid-text {
            margin-bottom: 200px;
        }


        .hamburger-menu {
            display: none;
        }



    }

    @media (max-width: 900px) {

        body {
            margin: 20px;
        }

        .quiz-des {
            font-size: 30px;
            font-family: "Montserrat";
            color: white;
        }

        .text-conf {
            font-size: 15px;
            font-family: "Montserrat";
            color: #FFFFFF;
            margin-bottom: 100px;
        }

        #header {
            display: none;
        }

        /* скрываем чекбокс */
        #menu__toggle {
            opacity: 0;
        }

        /* стилизуем кнопку */
        .menu__btn {
            display: flex;
            /* используем flex для центрирования содержимого */
            align-items: center;
            /* центрируем содержимое кнопки */
            position: fixed;
            top: 20px;
            left: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1;
        }

        /* добавляем "гамбургер" */
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
        }

        .menu__btn>span::before {
            content: '';
            top: -8px;
        }

        .menu__btn>span::after {
            content: '';
            top: 8px;
        }

        /* контейнер меню */
        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            text-align: center;
            background-color: rgba(0, 0, 0, .6);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        }

        /* элементы меню */
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #FFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
        }

        .menu__item:hover {
            background-color: #CFD8DC;
        }

        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }

        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }

        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }

        #menu__toggle:checked~.menu__box {
            visibility: visible;
            left: 0;
        }

        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            transition-duration: .25s;
        }

        .menu__box {
            transition-duration: .25s;
        }

        .menu__item {
            transition-duration: .25s;
        }
    }