    @font-face {
        font-family: "Montserrat";
        src: url("./Montserrat-Bold.woff2") format("woff2");

    }

    body {
        background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("./background.jpg");
        margin: 0;
        padding: 0;

    }

    @media (min-width: 960px) {
        #header {
            display: flex;
            gap: 80vh;
            width: 100%;
            height: 60px;
            align-items: center;
            justify-content: center;
        }

        #header a {
            text-decoration: none;
            color: white;
            font-size: 26px;
            font-family: "Montserrat";
            background: none;
            opacity: 0.3;
        }

        #header a:hover {
            opacity: 1;
        }

        .main-text {
            margin-left: 100px;
            margin-top: 50px;
            width: 400px;
            height: 300px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center space-around;
            font-family: "Montserrat";
            font-size: 14px;
        }

        #text {
            margin-top: 50px;
            margin-left: 100px;
            font-family: "Montserrat";
            color: white;
            font-size: 30px;
        }

        #goals {
            color: white;
            width: 500px;
            height: 250px;
            margin-left: 970px;
            font-family: "Montserrat";
            margin-bottom: 200px;
        }

        #goals h3 {
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 30px;
        }

        .hamburger-menu {
            display: none;
        }
    }

    @media (max-width: 900px) {
        #header {
            display: none;
        }

        /* скрываем чекбокс */
        #menu__toggle {
            opacity: 0;
        }

        /* стилизуем кнопку */
        .menu__btn {
            display: flex;
            /* используем flex для центрирования содержимого */
            align-items: center;
            /* центрируем содержимое кнопки */
            position: fixed;
            top: 20px;
            left: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1;
        }

        /* добавляем "гамбургер" */
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
        }

        .menu__btn>span::before {
            content: '';
            top: -8px;
        }

        .menu__btn>span::after {
            content: '';
            top: 8px;
        }

        /* контейнер меню */
        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            text-align: center;
            background-color: rgba(0, 0, 0, .6);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        }

        /* элементы меню */
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #FFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;
        }

        .menu__item:hover {
            background-color: #CFD8DC;
        }

        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }

        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }

        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }

        #menu__toggle:checked~.menu__box {
            visibility: visible;
            left: 0;
        }

        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            transition-duration: .25s;
        }

        .menu__box {
            transition-duration: .25s;
        }

        .menu__item {
            transition-duration: .25s;
        }

        .main-text {
            color: white;
            font-family: "Montserrat";
            font-size: 15px;
            padding: 15px;
        }

        #text {
            margin-top: 50px;
            font-family: "Montserrat";
            color: white;
            font-size: 35px;
            margin-left: 10px;
        }

        #goals {
            color: white;
            font-family: "Montserrat";
            font-size: 15px;
            padding: 15px;
        }

        #goals h3 {
            font-size: 35px;
            margin-top: 70px;

        }
    }